.calendar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: $calendarWidth;
  margin: 0 auto;
  font-size: $boxFontSize;

  div {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: $boxSize;
    height: $boxSize;
    margin-right: $boxGap;
    margin-bottom: $boxGap;
    background-color: $boxColor;
    border: $boxBorder;

    &:hover {
      background-color: $boxColorHovered;
      transform: translateY(-20px);
      transition-duration: 0.5s;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i}):before {
        content: "#{$i}";
      }
    }
  }
}
